/* Resets */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;;
}
/* header section starts */
.header {
    width: 1600px;
    height: 808px;
    left: 1600px;
    top: 808px;
    background: url(images/banner/banner1.png);
    display: flex;
    justify-content: flex-end;
}
.header-group {
    margin-right: 230px;
    margin-top: 216px;
    text-align: right;
    width: 525px;
    height: 228px;
    right: 20px;
    top: 216px;
}
.header-group  h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
}
.header-group  p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
}
.header-group button {
    font-size: 20px;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    background-color: #F15B22;
    border-radius: 5px;
    border: none;
    margin-top: 32px;
    color: #ffff;

}
/* header section ends here*/

/* section 1 starts here */
.sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1 img {
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 934px;
    margin-left: 50px;
}
.sec1 article {
    display: block;
    margin-top: 230px;
    width: 416px;
    height: 400px;
    text-align: left;
}
.sec1 article h3 {
    font-size: 37px;
}
.sec1 article p {
    line-height: 22px;
    margin: 11px 0px;
}

.sec1 article ul {
    list-style-type: none;
}
.sec1 article ul li {
    margin: 5px 0px;
}
/* section 1 ends here */

/* section 2 starts here */
.my-plans {
    font-size: 30px;
    text-align: center;
}
.my-plans h2 {
    margin-top: 60px;
    margin-bottom: 30px;
}

.plan {
    display: flex;
    justify-content: center;
    align-items: center;
}
.plan-sec {
    margin: 0 74px;
}

.web {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 92.96px;
    height: 92.96px;
    left: 340px;
    top: 1903.7px;
}
.plan-sec h5 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

}
.plan-sec p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

}
/* section 2 ends here */

/* section 3 starts here */
.goals h2 {
    text-align: center;
    font-size: 40px;
    margin: 30px 0;
}
.goals-bg {
    height: 300px;
    width: 1140px;
    background-image: url('images/developer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #383230;
    margin: 20px 200px 20px 200px;
    border-radius: 10px;
}
.goals-bg h3 {
    font-size: 40px;
    padding: 20px 100px 0px 20px;
    
}
/* section 3 ends here */

/* section 4 starts here */
.section-watch {
    margin-top: 30px ;
    margin-bottom: 30px;
}
.watch-blend {
    height: 300px;
    width: 1140px;
    background-image: url('images/watch.png'), url('images/gradient2.png');
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffff;
    font-size: 40px;
    margin: 20px 200px 20px 200px;
}
.watch-blend  h2 {
    margin-left: 64px;
    padding-top: 59px;
    padding: 59px;
    font-size: 40px;
}
.watch-blend  button {
    font-size: 25px;
    background-color: #F15B22;
    color: #ffff;
    border: 2px solid #F15B22;
    border-radius: 5px;
    margin-left: 124px;
    height: 30px;
    width: 100px;
}
/* section 4 ends here */

/* footer starts here */
footer {
    background-color: black;
    height: 60vh;
    width: 1;
    color: #ffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-left {
    height: 317px;
    width: 485px;
}
.footer-right {
    height: 204px;
    width: 325px;
}
.footer-right form p {
    font-size: 18px;
    margin-bottom: 8px;
}
#email{
    padding: 22px 158px 22px 22px;
    color: #ffff;
    background-color: black;
    font-size: 18px;
    border: 2px solid #ffff;
    border-radius: 5px;

}
.footer-right form button {
    margin-top: 10px;
    padding: 5px 8px 5px 5px;
    font-size: 18px;
    color: #F15B22;
}
.footer-icon img {
    padding: 5px;
}
/* footer ends here */



